[Unit]
Description=CamCheck Security Camera Service
After=network.target

[Service]
User=camcheck
Group=camcheck
WorkingDirectory=/opt/camcheck
ExecStart=/usr/bin/java -jar cam-check-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target 